COMPANY_NAME="CÔNG TY TNHH DƯỢC PHẨM - THIẾT BỊ Y TẾ KHẢI NGUYÊN"
SITE_NAME="khainguyenpharma"

# Custom API Backend URL
NEXT_PUBLIC_API_URL="http://localhost:3001"

# API Revalidation Secret (tự tạo random string)
API_REVALIDATION_SECRET="your-random-secret-key-here"
